/* PAGE-LEVEL */
:root {
  --bakugoLight: #f3f2f1;
  --eraserHead: #373638;
  --eraserHeadLight: #414042;
  --eraserHeadDark: #2d2d2d;
  --newColor: #9ebcea;
  --playerOne: #9ebcea;
  --playerTwo: #ea9e9e;
  --playerThree: #f8d996;
  --playerFour: #8ddbe0;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.65em;
}

code {
  color: var(--playerOne);
  background-color: var(--eraserHeadDark);
  padding: 0.25em 0.5em;
  border-radius: 5px;
}

p,
li {
  margin-bottom: 1em !important;
  font-family: "Epilogue", sans-serif;
}

h1 {
  margin-bottom: 1rem !important;
  /* line-height: 100% !important; */
}

:is(h2, h3, h4) {
  margin-bottom: 0.75rem !important;
}

:is(h1, h2) {
  margin-top: 2.5rem !important;
}

:is(h3, h4) {
  margin-top: 1.75rem !important;
}

.wrapper {
  margin: 0 !important;
}

/* PAPER USED ON EVERY PAGE */
.dark-mode-paper {
  padding: 5em 8em !important;
  margin: 2em auto;
}

button {
  text-transform: none !important;
}

.callout {
  background-color: var(--eraserHeadDark);
  padding: 1rem;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.callout code {
  background-color: var(--eraserHead);
}

.callout,
.callout.info {
  border-left: 0.25rem solid var(--playerOne);
}

.callout.warn {
  border-left: 0.25rem solid var(--playerThree);
}

.callout.error {
  border-left: 0.25rem solid var(--playerFour);
}

a {
  color: var(--playerOne);
  font-weight: 700;
}
