.profile-picture {
  clip-path: url(#pattern0) !important;
}

.main-hero-section__grid.huge {
  margin-block: 5em;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: min(95%, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "main-hero-section__image"
    "main-hero-section__title"
    "main-hero-section__paragraph"
    "main-hero-section__button";
}

.main-hero-section__title {
  grid-area: main-hero-section__title;
}

.main-hero-section__paragraph {
  margin-top: min(2rem, 3vh);
  grid-area: main-hero-section__paragraph;
}

.main-hero-section__button {
  margin-top: 2rem;
  grid-area: main-hero-section__button;
}

.main-hero-section__image {
  grid-area: main-hero-section__image;
}

@media screen and (min-width: 768px) {
  .main-hero-section__grid.right {
    /* width: 90%; */
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    align-items: start;
    grid-template-areas:
      "main-hero-section__title main-hero-section__title"
      "main-hero-section__paragraph main-hero-section__image"
      "main-hero-section__button main-hero-section__image"
      ". main-hero-section__image";
  }
  .main-hero-section__grid.left {
    /* width: 90%; */
    grid-template-columns: 30% 70%;
    grid-template-rows: repeat(autofill, min(8rem, 10vh));
    align-items: start;
    grid-template-areas:
      "main-hero-section__image main-hero-section__title"
      "main-hero-section__image main-hero-section__paragraph"
      "main-hero-section__image main-hero-section__button";
  }

  .main-hero-section__grid.left .main-hero-section__title {
    text-align: left;
  }

  .main-hero-section__image {
    visibility: visible;
  }
}
