.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Source Code Pro", monospace, sans-serif;
  font-weight: 600;
  color: #f3f2f1;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.65em;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: "Poppins", sans-serif !important;
  color: #f3f2f1;
}

.page-header {
  font-family: "Source Code Pro", sans-serif !important;
  font-size: 1.5em !important;
  font-weight: 800 !important;
  color: #f3f2f1 !important;
}

.page-container,
.page-nav {
  background-color: #373638 !important;
  margin: 0;
}

li a {
  font-weight: 700;
  text-decoration: none;
  color: #5dbfa2;
}

ol > span {
  margin: 1.25em auto;
}

h1,
h2 {
  color: #5dbfa2;
}

.dark-mode-paper {
  padding: 5em 8em !important;
  margin: 2em auto;
}

.dark-mode-paper {
  background-color: hsl(270, 2%, 25%) !important;
  color: #f3f2f1 !important;
}

li {
  margin: 0.5em auto;
}

.sub-section {
  margin: 1.5em auto 0.75em auto;
}
